@import 'colours';

.card {
  @extend .col-md-12;
  margin-top: 5px;
  margin-bottom: 5px;

  @media print {
    @include remove-side-padding;
  }

  > div {
    background: #fff;
    padding: 5px 20px;

    @media print {
      @include remove-side-padding;
    }
  }

  &:last-of-type {
    margin-bottom: 20px;
  }

  h2 {
    font-size: 27px;
    em {
      font-size: 15px;
      display: block;
      font-style: normal;
      font-weight: normal;
    }
  }

  .panel {
    background: $grey-3;
    padding: 13px 15px;
    margin-bottom: 10px;

    font-size: 13px;
    line-height: 1.3;

    h3 {
      font-size: 15px;
      margin: 3px 0;
      text-transform: uppercase;
      font-weight: bold;
    }
    ul { margin: 5px 0; padding-left: 17px; }
  }
}
