body {
  font-family: 'NTA', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 17px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 33px;
  font-weight: bold;
  margin: 13px 0;
}
h2 {
  font-size: 19px;
  font-weight: bold;
  margin: 25px 0 10px;
}
p {
  margin: 9px 0;
}
